<div class="field">
  <%= f.label :creator_name %><br>
  <%= f.text_field :creator_name %>
</div>

<div class="field">
  <%= f.label :name_identifier_id %><br>
  <%= f.text_field :name_identifier_id %>
</div>
<div class="field">
  <%= f.label :affliation %><br>
  <%= f.text_field :affiliation %>
</div>

