<%= fields_for @title , :html => { :class => 'form-horizontal center' },
                wrapper: :horizontal_form,
                wrapper_mappings: {
                        check_boxes: :horizontal_radio_and_checkboxes,
                        radio_buttons: :horizontal_radio_and_checkboxes,
                        file: :horizontal_file_input,
                        boolean: :horizontal_boolean
                } do |title| %>
  <%= render "datacite/shared/error_messages", :target => @title %>
  <div class="form-group">
    <%= title.label :title, "Title:", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= title.text_field :title , class: "form-control" %>
    </div>
  </div>
    <%#= title.input :titleScheme %>
    <%#= title.input :titleURI %>
  <%= title.hidden_field :resource_id, value: params[:resource_id] %>
<% end %>