<%= fields_for @subject , :html => { :class => 'form-horizontal' },
                wrapper: :horizontal_form,
                wrapper_mappings: {
                        check_boxes: :horizontal_radio_and_checkboxes,
                        radio_buttons: :horizontal_radio_and_checkboxes,
                        file: :horizontal_file_input,
                        boolean: :horizontal_boolean
                } do |subject| %>
  <%= render "datacite/shared/error_messages", :target => @subject %>
  <div class="form-group">
    <%= subject.label :creatorName, "Subject:", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= subject.text_field :subject, class: "form-control" %>
      <%#= subject.input :subjectScheme %>
      <%#= subject.input :subjectURI %>
    </div>
  </div>
    <%= subject.hidden_field :resource_id, value: params[:resource_id] %>
<% end %>
