<div class="field">
  <%= f.label :subject %><br>
  <%= f.text_field :subject %>
</div>

<div class="field">
  <%= f.label :subjectScheme %><br>
  <%= f.text_field :subjectScheme %>
</div>

<div class="field">
  <%= f.label :subjectURI %><br>
  <%= f.text_field :subjectURI %>
</div>

<div class="field">
  <%= f.label :resource_id %><br>
  <%= f.text_field :resource_id %>
</div>