<%= fields_for @description , :html => { :class => 'form-horizontal' },
                wrapper: :horizontal_form,
                wrapper_mappings: {
                        check_boxes: :horizontal_radio_and_checkboxes,
                        radio_buttons: :horizontal_radio_and_checkboxes,
                        file: :horizontal_file_input,
                        boolean: :horizontal_boolean
                } do |description| %>
<%= render "datacite/shared/error_messages", :target => @description %>
<div class="form-group">
  <%= description.label :creatorName, "Description:", class: "col-md-4 control-label" %>
  <div class="col-md-8">
    <%= description.text_field :description, class: "form-control" %>
  </div>
</div>
  <%#= description.input :descriptionType %>
  <%= description.hidden_field :resource_id, value: params[:resource_id] %>
<% end %>
