<div class="container">
<%= simple_form_for @creator, :html => { :class => 'form-horizontal' },
                wrapper: :horizontal_form,
                wrapper_mappings: {
                        check_boxes: :horizontal_radio_and_checkboxes,
                        radio_buttons: :horizontal_radio_and_checkboxes,
                        file: :horizontal_file_input,
                        boolean: :horizontal_boolean
                } do |f| %>
  <%= render "datacite/shared/error_messages", :target => @creator %>
  <div class="form-group">
    <h3>Describe your Data</h3><br/>
    <%= render "datacite/titles/form" %>
    <div class="col-sm-9">
      <%= f.input :creatorName, label:  "Creator" %>
      <%#= f.input :name_identifier_id %>
      <%#= f.input :affiliation_id %>
      <%= f.input :resource_id, input_html: { value: params[:resource_id] } %>
    </div>
    <%= render "datacite/contributors/form" %>
    <%= render "datacite/subjects/form" %>
    <%= render "datacite/descriptions/form" %>
    <%= render "datacite/publishers/form" %>
  </div>
  <%= f.submit 'Submit', class: "btn btn-success" %>
<% end %>
  <%#= link_to 'Back', main_app.edit_resource_path(params[:resource_id]), class: "btn" %>
</div>
