<%= simple_form_for :general, url: generals_create_path, html: { class: 'form-horizontal' },
                wrapper: :horizontal_form,
                wrapper_mappings: {
                        check_boxes: :horizontal_radio_and_checkboxes,
                        radio_buttons: :horizontal_radio_and_checkboxes,
                        file: :horizontal_file_input,
                        boolean: :horizontal_boolean
                } do |f| %>
  <%= f.hidden_field :resource_id, value: params[:resource_id] %>

  <div class="form-group">
  <%= render "datacite/titles/form" %>
  <%= render "datacite/creators/form" %>
  <%= render "datacite/contributors/form" %>
  <%= render "datacite/subjects/form" %>
  <%= render "datacite/descriptions/form" %>
  <%= render "datacite/publishers/form" %>
  <%= render "datacite/publication_years/form" %>
  </div>
  <%= f.submit 'Submit', class: "btn btn-success" %>
  <%= link_to 'Back', generals_index_path, class: "btn" %>
<% end %>